// Breakpoints cho các thiết bị
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 768px;
$breakpoint-tablet: 576px;
$breakpoint-mobile: 425px;

// Mixins tương ứng
@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$breakpoint-laptop}) and (max-width: #{$breakpoint-desktop - 1}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop - 1}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$breakpoint-tablet - 1}) {
        @content;
    }
}

@mixin tablet-and-mobile {
    @media (max-width: #{$breakpoint-laptop - 1}) {
        @content;
    }
}

@mixin grid-responsive($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}
