@use './variables' as vars;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: vars.$bg-01;
}

a {
    color: vars.$white;
    text-decoration: none;
    cursor: pointer;
}
