@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.layout-header {
    padding: 0 40px;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
        border-bottom: 1px solid vars.$gray;
    }

    .header-logo {
        color: vars.$white;
        font-size: 14px;
        font-weight: 600;

        @include mixins.mobile {
            font-size: 12px;
        }

        span {
            color: vars.$brand-01;
            margin-right: 4px;
        }
    }

    .header-nav {
        display: flex;
        gap: 16px;

        .header-nav-item {
            color: vars.$white;
            font-size: 12px;
            font-weight: 500;

            @include mixins.mobile {
                font-size: 10px;
            }
        }
        .header-nav-item__active {
            color: vars.$brand-01;
        }
    }

    .header-social {
        display: flex;
        gap: 16px;

        @include mixins.mobile {
            display: none;
        }

        .header-social-item {
            color: vars.$white;
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
            display: flex;
            align-items: center;

            .header-social-icon {
                color: vars.$brand-01;
                font-size: 14px;
                margin-right: 4px;
            }
            .header-social__name {
                @include mixins.tablet-and-mobile {
                    display: none;
                }
            }
        }
    }
}
