@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mixins;

.about-container {
    width: 100%;
    background-image: url('../../../assets/images/home/bg-about.png');
    background-size: contain;

    .about-wrapper {
        padding: 80px 24px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mixins.desktop {
            max-width: mixins.$breakpoint-desktop;
        }
        @include mixins.laptop {
            max-width: mixins.$breakpoint-laptop;
        }
        @include mixins.tablet {
            max-width: mixins.$breakpoint-tablet;
        }

        .about-mouse-scroll {
            width: 20px;

            @include mixins.tablet-and-mobile {
                display: none;
            }

            img {
                width: 20px;
            }
        }

        .about-content {
            display: flex;
            flex-direction: column;
            gap: 40px;
            color: vars.$white;
            margin-top: 32px;

            @include mixins.desktop {
                flex-direction: row;
            }

            .about-content__left {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .about-content__left-title {
                    width: 140px;
                    padding: 12px 0;
                    font-size: 20px;
                    text-align: center;
                    background-color: vars.$bg-01;
                    border: 1px solid vars.$brand-01;
                    border-top-left-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
                .about-content__left-description {
                    display: flex;
                    flex-direction: column;
                    padding: 12px;
                    background-color: vars.$bg-01;
                    border-radius: 12px;

                    .about-content__html-name {
                        font-size: 12px;
                        color: vars.$brand-02;
                        margin-bottom: 8px;

                        @include mixins.mobile {
                            font-size: 10px;
                        }
                    }
                    .about-content__info-name {
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 8px;
                        margin-left: 8px;

                        @include mixins.mobile {
                            font-size: 12px;
                        }

                        span {
                            color: vars.$brand-01;
                        }
                    }
                }
            }

            .about-content__right {
                width: 280px;
                margin: auto;

                @include mixins.mobile {
                    width: 200px;
                }

                img {
                    width: 280px;

                    @include mixins.mobile {
                        width: 200px;
                    }
                }
            }
        }
    }
}
