@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mixins;

.dev-container {
    .dev-title {
        font-size: 36px;
        font-weight: 600;
        color: vars.$brand-02;

        @include mixins.tablet-and-mobile {
            display: none;
        }
    }

    .dev-wrapper {
        color: vars.$white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
        gap: 28px;

        @include mixins.desktop {
            flex-direction: row;
        }

        .dev-left {
            width: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 24px;
            border: 2px solid vars.$white;
            border-top-left-radius: 100px;
            border-bottom-right-radius: 100px;
            box-shadow: -4px -4px 2px 0 vars.$brand-01;

            .dev-left_avatar {
                background-color: vars.$gray;
                height: 96px;
                width: 96px;
                border-radius: 50%;
                border: 2px solid vars.$brand-02;
                margin-bottom: 8px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .dev-left__name {
                font-size: 20px;
                font-weight: 500;

                @include mixins.mobile {
                    font-size: 18px;
                }
            }
            .dev-left__position {
                font-size: 14px;
                font-weight: 400;
                opacity: 0.9;

                @include mixins.mobile {
                    font-size: 12px;
                }
            }
            .dev-left__info {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 12px;
                gap: 6px;

                .dev-left__info-item {
                    font-size: 14px;
                    font-weight: 400;
                    opacity: 0.9;
                    // margin-bottom: 4px;
                    display: flex;
                    align-items: center;

                    @include mixins.mobile {
                        font-size: 12px;
                    }

                    .dev-left__info-icon {
                        width: 16px;
                        color: vars.$brand-01;
                        margin-right: 4px;
                    }
                }
            }
            .dev-left__skills {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                margin-top: 12px;

                .dev-left__skills-item {
                    font-size: 14px;
                    font-weight: 400;
                    color: vars.$bg-01;
                    background-color: vars.$brand-01;
                    padding: 2px 10px;
                    border-radius: 12px;

                    @include mixins.mobile {
                        font-size: 12px;
                    }
                }
            }
            .dev-left__button {
                color: vars.$bg-01;
                font-size: 16px;
                background-color: vars.$white;
                padding: 8px 24px;
                border-radius: 24px;
                margin-top: 24px;
                cursor: pointer;

                @include mixins.mobile {
                    font-size: 12px;
                }
            }
        }

        .dev-block {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 28px;

            @include mixins.tablet-and-mobile {
                flex-direction: column;
            }

            .dev-center {
                flex: 1;
                display: flex;
                flex-direction: column;

                .dev-center__html-name {
                    font-size: 12px;
                    color: vars.$brand-02;
                    margin-bottom: 8px;

                    @include mixins.mobile {
                        font-size: 10px;
                    }
                }
                .dev-center__html-end {
                    margin-bottom: 12px;
                }
                .dev-center__info-name {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 8px;
                    margin-left: 12px;

                    @include mixins.mobile {
                        font-size: 18px;
                    }

                    span {
                        color: vars.$brand-01;
                    }
                }
                .dev-center__discription {
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 8px;
                    margin-left: 12px;

                    @include mixins.mobile {
                        font-size: 12px;
                    }
                }
                .dev-center__let-talk {
                    font-size: 18px;
                    color: vars.$brand-01;
                    font-weight: 500;
                    margin-left: 12px;

                    @include mixins.mobile {
                        font-size: 14px;
                    }
                }
            }

            .dev-right {
                width: 180px;
                padding: 32px 24px;
                background-color: vars.$bg-02;
                display: flex;
                flex-direction: column;
                gap: 36px;
                border-radius: 48px;

                @include mixins.mobile {
                    width: 160px;
                }

                @include mixins.tablet-and-mobile {
                    margin: auto;
                }

                .dev-right__item {
                    display: flex;
                    align-items: center;

                    .dev-right__item-amount {
                        font-size: 34px;
                        font-weight: 600;
                        color: vars.$brand-01;
                        margin-right: 20px;
                        position: relative;

                        @include mixins.mobile {
                            font-size: 24px;
                        }

                        &::after {
                            content: '+';
                            position: absolute;
                            top: 4px;
                            right: -12px;
                            font-size: 18px;

                            @include mixins.mobile {
                                font-size: 14px;
                            }
                        }
                    }
                    .dev-right__item-name {
                        font-size: 12px;
                        font-weight: 500;

                        @include mixins.mobile {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
