@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mixins;

.skill-container {
    width: 100%;
    background-image: url('../../../assets/images/home/bg-skill.png');
    background-size: contain;

    .skill-wrapper {
        padding: 24px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mixins.desktop {
            max-width: mixins.$breakpoint-desktop;
        }
        @include mixins.laptop {
            max-width: mixins.$breakpoint-laptop;
        }
        @include mixins.tablet {
            max-width: mixins.$breakpoint-tablet;
        }

        .skill-mouse-scroll {
            width: 20px;

            @include mixins.tablet-and-mobile {
                display: none;
            }

            img {
                width: 20px;
            }
        }

        .skill-title {
            font-size: 36px;
            font-weight: 600;
            color: vars.$brand-01;
            padding: 8px 0;
            margin-top: 16px;
            border-bottom: 2px solid vars.$brand-01;
        }

        .skill-sub-title {
            font-size: 12px;
            font-weight: 500;
            color: vars.$white;
            opacity: 0.8;
            margin-top: 8px;
        }

        .skill-block {
            display: flex;
            gap: 60px;
            margin-top: 20px;

            @include mixins.mobile {
                flex-direction: column;
                gap: 24px;
            }

            .skill-block__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 16px 24px;
                background-color: vars.$brand-02;
                border-radius: 8px;
                border-left: 4px solid #0c73b8;
                gap: 6px;

                .skill-block__item-icon {
                    font-size: 24px;
                }
                .skill-block__item-name {
                    font-size: 16px;
                    color: vars.$bg-01;
                    font-weight: 500;
                }
                .skill-block__item-sub-name {
                    font-size: 12px;
                    color: vars.$gray;
                    font-weight: 500;
                }
            }
        }

        .skill-list {
            gap: 60px;
            flex-wrap: wrap;
            margin-top: 32px;

            @include mixins.grid-responsive(4);
            @include mixins.tablet-and-mobile {
                @include mixins.grid-responsive(2);
                gap: 40px;
            }

            .skill-list__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;

                .skill-list__item-brand {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: #0c73b8;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mixins.mobile {
                        width: 80px;
                        height: 80px;
                    }

                    .skill-list__item-icon {
                        font-size: 40px;
                        color: vars.$white;

                        @include mixins.mobile {
                            font-size: 32px;
                        }
                    }
                }
                .skill-list__item-brand.html {
                    background-color: #e54f26;
                }
                .skill-list__item-brand.css {
                    background-color: #0c73b8;
                }
                .skill-list__item-brand.nodejs {
                    background-color: #e7a020;
                }
                .skill-list__item-brand.react {
                    background-color: #28a9e0;
                }
                .skill-list__item-name {
                    font-size: 20px;
                    font-style: 600;
                    text-transform: uppercase;
                }
                .skill-list__item-name.html {
                    color: #e54f26;
                }
                .skill-list__item-name.css {
                    color: #0c73b8;
                }
                .skill-list__item-name.nodejs {
                    color: #e7a020;
                }
                .skill-list__item-name.react {
                    color: #28a9e0;
                }
            }
        }
    }
}
